<tr>
  <td>Hi <%= @recipients %>,</td>
</tr>
<tr>
  <td>
    Your child has tried to create an account at <a href="<%= APP_CONFIG['site_url'] %>"><%= configatron.solaro_trade_mark%></a> but requires your consent to do so (age < 13).
    To provide consent, we ask you to create a <%=configatron.solaro_trade_mark%> parent account.
    After you create your account you will be able to add your child to <%=configatron.solaro_trade_mark%> so s/he can get help with schoolwork, take practice quizzes and review lessons.
  </td>
</tr>
<tr>
  <td>To get started, Select the link below then follow the instructions.</td>
</tr>

<tr>
  <td><%= link_to "Click here to create your parent account.", register_with_activation_code_url(@notification.activation_code) %></td>
</tr>
<tr>
  <td>You can also copy and paste the URL below into your browser if the above link does not work.</td>
</tr>
<tr>
  <td><%= link_to register_with_activation_code_url(@notification.activation_code), register_with_activation_code_url(@notification.activation_code) %> </td>
</tr>
<tr>
  <td>If you do not wish to try <%=configatron.solaro_trade_mark%>, please disregard this message.</td>
</tr>





