- url = @parent.activated && @parent.parent_profile.present? ? configatron.site_url : register_parent_url(@notification.activation_code)
%tr
  %td
    Hi #{@parent.full_name},
%tr
  %td
    = @profile.salutation
    = @profile.last_name
    a teacher at #{@profile.school.name}, has invited you to add a child to your #{configatron.solaro_trade_mark} parent account.
    By adding this child to your parent account you can track the progress of the child in #{configatron.solaro_trade_mark} and also to communicate with teachers.

    Follow the link below to login to your #{configatron.solaro_trade_mark} parent account.
%tr
  %td
    Click here to
    = link_to("login to #{configatron.solaro_trade_mark}", url)
%tr
  %td
    You can also copy and paste this link into your browser:
%tr
  %td
    = link_to(url, url)
  
