- profile = @notification.to_profile
%tr
  %td
    Hi #{profile.first_name},
%tr
  %td
    Your #{configatron.solaro_trade_mark} Parent account has been created, and you can now access
    #{configatron.solaro_trade_mark} to see your child progress in learning by visiting
    = link_to configatron.site_url, configatron.site_url
%tr
  %td
    Your Username is your email address: #{@notification.to_email}

- unless profile.user.activated
  %tr
    %td
      %strong Click the link below and follow the instructions to continue the account creation process:
  %tr
    %td
      = link_to "Click here to continue to activate your account and set the password.", activate_and_reset_password_url(@notification.activation_code)
  %tr
    %td
      You can also
      %strong copy and paste the URL below into your browser.
  %tr
    %td= activate_and_reset_password_url(@notification.activation_code)