%tr
 %td Hi #{@parent.first_name},

%tr
 %td
   We have created a #{configatron.solaro_trade_mark} student account for your child #{@student.first_name} with username #{@student.username}.
   You received an email to activate your parent account.  After logging into the parent account you can set a password for your child so he/she
   can start using #{configatron.solaro_trade_mark} right away by logging in to, #{configatron.site_url} .

%tr
 %td
   If you did not contact us about #{configatron.solaro_trade_mark} student account creation, we apologize and request that you please ignore this message.
