<% profile = @notification.sent_for_profile %>
<tr>
  <td> Hi <%= profile.first_name %>,</td>
</tr>
<tr>
  <td><%= profile.school.name %> would like you to join their school. Please login to your <%= configatron.solaro_trade_mark %> account at <%= configatron.site_url %>,
    If you have forgotten your password, go to <%= configatron.site_url %>/forgot_password and enter your email address. <%= configatron.solaro_trade_mark %> will send you a link to reset your password.
  </td>
</tr>