%tr
  %td Hi #{@notification.profile.salutation} #{@notification.profile.first_name},
%tr
  %td
    #{@school_admin_profile.first_name} #{@school_admin_profile.last_name} from #{@school_admin_profile.school.name} would like you to join that school. To accept or decline this invitation, please login to your #{configatron.solaro_trade_mark} account at #{configatron.site_url}.
    If you have forgot your password, go to #{configatron.site_url}/forgotpassword and enter your email address. #{configatron.solaro_trade_mark} will send you a link to reset your password.
