%tr
  %td Hi #{@notification.sent_for_profile.salutation} #{@notification.sent_for_profile.last_name},
%tr
  %td
    #{@school_admin_profile.school.name} would like you to join their school. To accept or decline this invitation, please login to your #{configatron.solaro_trade_mark} account at #{configatron.site_url}.
    If you have forgot your password, go to #{configatron.site_url}/forgot_password and enter your email address. #{configatron.solaro_trade_mark} will send you a link to reset your password.
