<tr>
  <td>Your <%= configatron.solaro_trade_mark%> at School account has been created, and you can now access <%= configatron.solaro_trade_mark%> to set up your classes and get your students started learning with <%=configatron.solaro_trade_mark%>.
	</td>
</tr>
<tr>
  <td>Your User Name is your email address : <%= "#{@notification.to_email}" %></td>
</tr>
<tr>
  <td>Please keep this email for future reference.</td>
</tr>
<tr>
  <td>Please visit us often at <%= link_to APP_CONFIG['site_url'], APP_CONFIG['site_url'] %>.</td>
</tr>