<% exam_path,exam_type = get_exam_path_and_type(@test_report.test_detail) %>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Teacher email</title>
    <style>
      body{font-family:Verdana, Geneva, sans-serif; font-size:12px;}
    </style>
  </head>

  <body>
    <table width="700" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <%= image_tag("#{APP_CONFIG["site_url"]}/images/headbanner.png") %>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><font style="color:#e94b13; font-size:19px;"><%= @test_report.test_detail.profile.full_name%> want to share his/her <%= configatron.solaro_trade_mark%> <%= exam_type %> results.</font></td>
      </tr>
      <tr>
        <td>&nbsp;</td>

      </tr>
      <tr>
        <td><font style="font-size:12px;"><%= configatron.solaro_trade_mark%> supports the high quality education students receive through their daily schooling with resources that can be used effectively and efficiently by students at home.</font> </td>

      </tr>
      <tr>
        <td>
          <p><%= configatron.solaro_trade_mark%> strives to support the high quality education students receive through their daily schooling with resources that can be used effectively and efficiently by students at home.</p><ul><li class="bBottom-Dashed lHeightx4"><strong>Instruction</strong>, aligned to the curriculum the student is being taught.</li><li class="bBottom-Dashed lHeightx4"><strong>Assessments</strong>, tailored to the subject area the student is interested in.</li><li class="bBottom-Dashed lHeightx4"><strong>Reporting</strong>, broken down by curriculum the student is working on.</li></ul><p><strong></strong></p>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          *&nbsp;<b><%= TestAnswer::ANSWERED.capitalize %></b>: The Student has answered the question.<br />
          *&nbsp;<b><%= TestAnswer::NOT_ANSWERED.capitalize %></b>: The Student didn't answered the question.<br />
          *&nbsp;<b><%= TestAnswer::GUESSED.capitalize %></b>: The Student guessed the answer. <br />
          *&nbsp;<b><%= TestAnswer::REVIEWED.capitalize %></b>: The Student has reviewed the answer.<br />
          *&nbsp;<b><%= TestAnswer::TEXT_INCORRECT.capitalize %></b>: The Student has reviewed the answer.
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="border:5px solid #a9cbdd; padding:5px;">

          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td><font style="font-size:19px;">Result of <%= exam_type %> </font></td>

            </tr>
            <tr>
              <td><font style="font-size:13px;"><%= exam_path %></font></td>
            </tr>
            <tr>
              <td><font style="font-size:13px;">Total Score : <%= @test_report.test_detail.score.to_i %> / <%=  @test_report.test_detail.total_marks %> </font></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <% @test_report.test_detail.test_answers.each_with_index do |test_answer,index|  %>
              <tr>
                <td >
                  <table cellspacing="0" cellpadding="5" border="1" bordercolor="#dfe2e4" width="100%" >
                    <tbody>
                      <tr bgcolor="#e8eff3">
                        <td align="center" width="41" valign="middle"><b>Question No</b></td>

                        <td width="486" align="center" valign="middle"><%= index+1 %></td>
                      </tr>
                      <tr>
                        <td align="center" valign="middle"><b>Results</b></td>
                        <td align="center" valign="middle">
                          <%= image_tag(test_answer.is_correct ? "#{APP_CONFIG["site_url"]}/images/tick.png" : "#{APP_CONFIG["site_url"]}/images/cross.png") %>

                        </td>
                      </tr>

                      <tr>
                        <td align="center" valign="middle"><b>Status</b></td>
                        <td align="center" valign="middle">
                          <%= test_answer.answer_status.capitalize %> / <%= test_answer.status.blank? ? "Not Reviewed" : TestAnswer::REVIEWED %>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" valign="top"><b><%=  test_answer.question.domain_attributes.map(&:outcomes).flatten.size==1? "Outcome" : "Outcomes" %></b></td>
                        <td align="left" valign="middle">
                          <%= test_answer.question.domain_attributes.map(&:outcomes).flatten.collect{|outcome| [outcome.code ,outcome.description]}.flatten %>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          *&nbsp;<b><%= TestAnswer::ANSWERED.capitalize %></b>: The Student has answered the question.<br />
          *&nbsp;<b><%= TestAnswer::NOT_ANSWERED.capitalize %></b>: The Student didn't answer the question.<br />
          *&nbsp;<b><%= TestAnswer::GUESSED.capitalize %></b>: The Student guessed the answer. <br />
          *&nbsp;<b><%= TestAnswer::REVIEWED.capitalize %></b>: The Student has reviewed the answer.<br />
          *&nbsp;<b><%= TestAnswer::TEXT_INCORRECT.capitalize %></b>: The Student has reviewed the answer.
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="right">
          <a href="#">
            <%= image_tag("#{APP_CONFIG["site_url"]}/images/button.png",:border=>'0') %>

          </a>
        </td>
      </tr>
      <tr>
        <td align="left">
          <br />If you don't want to receive any mails from <%= configatron.solaro_trade_mark%> please click <a href="#">here</a> to unsubscribe.
          <br />If your change your mind in future, you will have to create a <%= configatron.solaro_trade_mark%> teacher account.</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>



