<tr>
  <td>Hi <%= @test_report.test_detail.profile.parent.full_name %>,</td>
</tr>
<tr>
  <td>Your child <b><%= @test_report.test_detail.profile.full_name%>, </b> has completed a test of course <b><%= @test_report.test_detail.exam.find_course_name %></b> on <%= @test_report.test_detail.end_time.strftime("%d-%B-%Y") %> and shared the report of his progress with teacher : <%= @test_report.to_email %></td>
</tr>
<tr>
  <td>Click <%= link_to "View Test Reports", show_children_test_report_test_reports_url %> to see your child's test report details.</td>
</tr>

