<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= configatron.solaro_trade_mark%></title>
</head>
<body>
<table width="100%" border="0" cellspacing="12" cellpadding="0" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#515354;">
<%= yield %>
<tr>
  <td>If you experience any problems, <strong>please contact us</strong> at &nbsp;<%= mail_to configatron.support.mail %> &nbsp;or call <%= configatron.support.contact %>.</td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
  <td><font style="font-size:15px;">The <%= configatron.solaro_trade_mark%> Team </font></td>
</tr>
</table>
</body>
</html>
